body {
    background-color: aliceblue
}

.white {
    background-color: white;
    border-radius: 20px;
}

div.contenu {
    margin: 1vw;
    height: 30vw;
    gap: 2vw;
    display: flex;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.game {
    width: 60%;
    display: flex;
    gap: 2vw;
    flex-direction: column;
}

div.rendu {
    width: 40%;
    display: flex;
    gap: 0.5vw;
    flex-direction: column;
}

div.explication {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    overflow: auto;
    color: rgb(63, 63, 63);
}

.explication p {
    width: 80%;
}

.question {
    text-align: center;
    font-size: 1.5vw;
    width: 90%;
}

div.interaction {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.button {
    display: flex;
    gap: 2vw;
}

.interaction .button button {
    background-color: rgb(223, 240, 255);
    border: rgb(173, 192, 208) 1px solid;
    border-radius: 20px;
    height: 5vw;
    width: 10vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    color: rgb(63, 63, 63);
    cursor: pointer;

}

div.final {
    margin-bottom: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

div.direct {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

#valider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#valider p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(46, 46, 46);

}

#valider input {
    background-color: white;
    border: 0;
    box-shadow: 0px 0px 20px 0px rgb(184, 193, 200, .2);
    border-radius: 20px;
    height: 3vw;
    width: 8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    color: rgb(46, 46, 46);
    cursor: pointer;
}

#valider input:hover {
    background-color: rgb(211, 228, 242);

}


img#edit {
    height: 3vw;
    width: auto;
}